.main-productos .containerFigure .figure {
  border-style: groove;
  border-color: #5bbfcc;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px; }

.estilo-libros {
  background-color: #ce88ce; }

.estilo-mangas {
  background-color: #7171b8; }

.estilo-comics {
  background-color: #d45c5c; }

.estilo-merchandising {
  background-color: #b48d43; }

header nav .container div form .btn {
  background-color: #5bbfcc;
  color: white; }
  header nav .container div form .btn:hover {
    background-color: #234e53; }

footer {
  background-color: #e0e4e9; }
  footer .container .row div .h3-footer {
    margin-top: 10px; }
  footer .container .row div .ul-footer li {
    margin-bottom: 10px;
    list-style: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }
  footer .container .row div .img-redes {
    border-radius: 50%;
    height: 50px;
    width: 50px; }
    footer .container .row div .img-redes:hover {
      transform: scale(1.1);
      transition: 00.5s; }
  footer .footer-copyright {
    background-color: white; }

.main-index .h3-sucursal {
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 10px;
  background-color: #f5f7fa;
  display: flex;
  justify-content: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }

.main-index .div-local {
  display: flex;
  align-items: center;
  justify-content: space-around; }
  .main-index .div-local .img-local {
    width: 575px;
    height: 400px;
    margin-left: 40px;
    margin-top: 15px;
    margin-bottom: 15px; }
  .main-index .div-local .mapa-iframe {
    width: 575px;
    height: 400px;
    margin-right: 50px;
    margin-top: 15px;
    margin-bottom: 15px; }

.main-index .carousel .carousel-inner div .d-block {
  height: 400px;
  width: 1200px;
  margin-left: 70px; }

.main-index .containerFigure {
  margin-top: 15px;
  display: flex;
  justify-content: space-around; }
  .main-index .containerFigure .figure {
    border-style: groove;
    border-color: #5bbfcc;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-content: center;
    padding-left: 10px;
    padding-right: 10px; }
    .main-index .containerFigure .figure:hover {
      transform: scale(1.1);
      transition: 0.5s; }
    .main-index .containerFigure .figure .figure-img {
      width: 200px;
      height: 300px; }
    .main-index .containerFigure .figure .figure-caption {
      display: flex;
      justify-content: center; }

.main-index .h3-libros {
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 10px;
  background-color: #f5f7fa; }

.main-index .button {
  display: flex;
  justify-content: flex-end;
  margin-right: 60px;
  margin-bottom: 10px; }
  .main-index .button .btn {
    background-color: #5bbfcc;
    color: white; }
    .main-index .button .btn:hover {
      background-color: #234e53; }

.main-nosotros .accordion {
  margin-left: 10px;
  margin-right: 10px; }
  .main-nosotros .accordion div .accordion-collapse .accordion-body p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }
  .main-nosotros .accordion div .accordion-collapse .accordion-body .img-libreria {
    display: flex;
    justify-content: space-around; }
    .main-nosotros .accordion div .accordion-collapse .accordion-body .img-libreria .img {
      width: 500px;
      height: 250px; }

.main-nosotros .formulario {
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 98%;
  background-color: #b0cdd8;
  border-radius: 10px;
  padding: 10px; }

.main-sucursales .figure-sucursales {
  border-style: groove;
  border-color: #bbedf3;
  display: flex;
  flex-direction: column;
  align-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 15px;
  margin-right: 15px; }
  .main-sucursales .figure-sucursales .sucursales {
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px; }
    .main-sucursales .figure-sucursales .sucursales .figure-img-sucursales {
      height: 450px;
      width: 600px; }
    .main-sucursales .figure-sucursales .sucursales iframe {
      height: 450px;
      width: 600px; }
  .main-sucursales .figure-sucursales p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }

.main-productos .carousel .carousel-inner div .d-block {
  height: 400px;
  width: 1200px;
  margin-left: 70px; }

.main-productos .containerFigure {
  margin-top: 15px;
  display: flex;
  justify-content: space-around; }
  .main-productos .containerFigure .figure {
    display: flex;
    flex-direction: column;
    align-content: center; }
    .main-productos .containerFigure .figure:hover {
      transform: scale(1.05);
      transition: 0.5s; }
    .main-productos .containerFigure .figure .figure-img {
      width: 200px;
      height: 300px; }
    .main-productos .containerFigure .figure .figure-caption {
      display: flex;
      justify-content: center; }

.main-productos .h3-libros {
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 10px; }

.main-productos .button {
  display: flex;
  justify-content: flex-end;
  margin-right: 60px;
  margin-bottom: 10px; }
  .main-productos .button .btn {
    background-color: #5bbfcc;
    color: white; }
    .main-productos .button .btn:hover {
      background-color: #234e53; }

@media (max-width: 1440px) {
  .main-productos .carousel .carousel-inner div .d-block {
    height: 450px;
    width: 1200px;
    margin-left: 70px; }
  .main-sucursales .sucursales .figure-img-sucursales {
    height: 400px;
    width: 600px; }
  .main-sucursales .sucursales iframe {
    height: 400px;
    width: 600px; }
  .main-nosotros .accordion div .accordion-collapse .accordion-body .img-libreria img {
    width: 600px;
    height: 350px; } }

@media (max-width: 1024px) {
  .main-index .div-local .img-local {
    width: 450px;
    height: 300px; }
  .main-index .div-local .mapa-iframe {
    width: 450px;
    height: 300px; }
  .main-index .carousel .carousel-inner div .d-block {
    height: 300px;
    width: 950px;
    margin-left: 35px; }
  .main-index .h3-libros {
    margin-left: 15px;
    margin-right: 15px; }
  .main-productos .carousel .carousel-inner div .d-block {
    height: 300px;
    width: 950px;
    margin-left: 35px; }
  .main-productos .h3-libros {
    margin-left: 15px;
    margin-right: 15px; }
  .main-sucursales .figure-sucursales .sucursales .figure-img-sucursales {
    height: 300px;
    width: 400px; }
  .main-sucursales .figure-sucursales .sucursales iframe {
    height: 300px;
    width: 400px; }
  .main-nosotros .accordion div .accordion-collapse .accordion-body .img-libreria img {
    width: 450px;
    height: 250px; } }

@media (max-width: 768px) {
  .main-index .div-local .img-local {
    width: 300px;
    height: 250px; }
  .main-index .div-local .mapa-iframe {
    width: 300px;
    height: 250px; }
  .main-index .carousel .carousel-inner div .d-block {
    height: 300px;
    width: 750px;
    margin-left: 10px; }
  .main-index .containerFigure .figure {
    margin-left: 5px;
    margin-right: 5px; }
  .main-index .containerFigure .figure-img {
    width: 200px;
    height: 250px; }
  .main-index .h3-libros {
    margin-left: 15px;
    margin-right: 15px; }
  .main-productos .carousel .carousel-inner div .d-block {
    height: 300px;
    width: 750px;
    margin-left: 10px; }
  .main-productos .containerFigure .figure {
    margin-left: 5px;
    margin-right: 5px; }
  .main-productos .containerFigure .figure-img {
    width: 200px;
    height: 250px; }
  .main-productos .h3-libros {
    margin-left: 15px;
    margin-right: 15px; }
  .main-sucursales .figure-sucursales .sucursales .figure-img-sucursales {
    height: 200px;
    width: 300px; }
  .main-sucursales .figure-sucursales .sucursales iframe {
    height: 200px;
    width: 300px; }
  .main-nosotros .accordion div .accordion-collapse .accordion-body .img-libreria img {
    width: 300px;
    height: 250px; } }

@media (max-width: 425px) {
  .main-index .div-local {
    display: flex;
    flex-direction: column; }
    .main-index .div-local .img-local {
      width: 300px;
      height: 250px;
      margin-left: 10px;
      margin-right: 10px; }
    .main-index .div-local .mapa-iframe {
      width: 300px;
      height: 250px;
      margin-left: 10px;
      margin-right: 10px; }
  .main-index .carousel .carousel-inner div .d-block {
    height: 150px;
    width: 400px;
    margin-left: 5px; }
  .main-index .containerFigure {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .main-index .containerFigure .figure {
      margin-left: 5px;
      margin-right: 5px; }
    .main-index .containerFigure .figure-img {
      width: 200px;
      height: 250px; }
  .main-index .h3-libros {
    display: flex;
    justify-content: center;
    margin-left: 30px;
    margin-right: 30px; }
  .main-productos .carousel .carousel-inner div .d-block {
    height: 150px;
    width: 400px;
    margin-left: 5px; }
  .main-productos .containerFigure {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .main-productos .containerFigure .figure {
      margin-left: 5px;
      margin-right: 5px; }
    .main-productos .containerFigure .figure-img {
      width: 200px;
      height: 250px; }
  .main-productos .h3-libros {
    display: flex;
    justify-content: center;
    margin-left: 30px;
    margin-right: 30px; }
  .main-sucursales .sucursales {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .main-sucursales .sucursales .figure-img-sucursales {
      height: 200px;
      width: 300px;
      margin-bottom: 10px; }
    .main-sucursales .sucursales iframe {
      height: 200px;
      width: 300px;
      margin-bottom: 10px; }
  .main-nosotros .accordion div .accordion-collapse .accordion-body .img-libreria {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .main-nosotros .accordion div .accordion-collapse .accordion-body .img-libreria img {
      width: 300px;
      height: 250px; }
  footer .container .row .footer-div {
    display: flex;
    flex-direction: column;
    align-items: center; } }

@media (max-width: 320px) {
  .main-productos .carousel .carousel-inner div .d-block {
    height: 150px;
    width: 400px;
    margin-left: 5px; }
  .main-productos .containerFigure {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .main-productos .containerFigure .figure {
      margin-left: 5px;
      margin-right: 5px; }
    .main-productos .containerFigure .figure-img {
      width: 200px;
      height: 250px; }
  .main-productos .h3-libros {
    display: flex;
    justify-content: center;
    margin-left: 30px;
    margin-right: 30px; }
  .main-sucursales .figure-sucursales .sucursales .figure-img-sucursales {
    height: 200px;
    width: 250px;
    margin-bottom: 10px; }
  .main-sucursales .figure-sucursales .sucursales iframe {
    height: 200px;
    width: 250px;
    margin-bottom: 10px; }
  .main-nosotros .accordion div .accordion-collapse .accordion-body .img-libreria img {
    width: 250px;
    height: 200px;
    margin-bottom: 10px; } }

header nav .container div form .btn {
  background-color: #5bbfcc;
  color: white; }
  header nav .container div form .btn:hover {
    background-color: #234e53; }
