.footer-style {
    background-color: rgb(133, 204, 207);

    .container {
        .row {
            .footer-div {
                .h3-footer {
                    margin-top: 10px;
                }
            }

            div {
                ul {
                    .img-redes {
                        border-radius: 50%;
                        height: 50px;
                        width: 50px;
                        margin-top: 15px;

                        &:hover {
                            transform: scale(1.10);
                            transition: 00.5s;
                        }
                    }

                    p {
                        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                    }
                }

            }
        }
    }

    .footer-copyright {
        background-color: white;
    }
}