footer{
    background-color: rgb(224, 228, 233);

    .container{
        .row{
            div{
                h3-footer{
                margin-top: 10px;
                }

                .ul-footer{
                    li{
                        margin-bottom: 10px;
                        list-style: none;
                        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                    }
                    
                }

                .img-redes{
                border-radius: 50%;
                height: 50px;
                width: 50px;
                &:hover{
                    transform: scale(1.10);
                    transition: 00.5s;
                    }
                }
            }
        }
    }

    .footer-copyright{
    background-color: white;
    }
}