$titulos: (
    estilo-libros: rgb(206, 136, 206),
    estilo-mangas: rgb(113, 113, 184),
    estilo-comics: rgb(212, 92, 92),
    estilo-merchandising: rgb(180, 141, 67),
);

@each $estilos, $color in $titulos {
    .#{$estilos}{
        background-color: $color;
    }
}