.main-nosotros{
    .accordion{
        margin-top: 30px;
        margin-left: 30px;
        margin-right: 20px;

        .accordion-item{
            .accordion-collapse{
                .accordion-body{
                    p{
                        margin-left: 30px;
                        margin-right: 30px;
                    }
                    .img-libreria{
                        display: flex;
                        justify-content: space-around;

                        .libreria{
                            width: 500px;
                            height: 350px;
                            border-radius: 10px;
                        }
                    }
                }
            }
        }
    } 

    .formulario{
        margin-left: 30px;
        margin-top: 30px;
        margin-bottom: 15px;
        width: 95%;
        @include formulario (rgb(176, 205, 216), 10px, 10px);
        
    }
}